.btn-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.car-details img {
  width: 350px;
  padding-top: 20px;
}
.details-line {
  width: 350px;
  border: none;
  border-top: 1px solid #383737;
  margin: 20px 0;
}
.car-details {
  width: 450px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  margin: 60px auto;
  position: relative;
}
.star-icon-btn {
  position: absolute;
  top: 10px;
  right: 30px;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  color: black;
}
.star-icon-btn:hover {
  border: none;
  background-color: transparent;
}
.star-icon {
  width: 40px;
  height: 40px;
}
.car-details-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
