.contact {
  width: 800px;
  margin: 0 auto;
}
.form {
  width: 500px;
  margin: 0 auto;
  padding: 20px;

  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.form input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
}

.form-textarea {
  grid-column: 1 / 3;
  width: 100%;
  height: 290px;
  box-sizing: border-box;
}

.form button {
  grid-column: 1 / 3;
  justify-self: center;
}
.feedback {
  position: relative;
  width: 400px;
  min-height: 200px;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.feedback-text {
  padding: 20px;
  text-align: center;
}
.btn-delete {
  top: -5px;
}
.contact-img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
.feedback-text-thanks {
  display: block;
  margin: 0 auto;
  background-color: #007bff;
  border: 1px solid;
  color: white;
  padding: 10px;
  text-transform: capitalize;
  font-weight: bold;
  width: 150px;
  border-radius: 60px;
}
