.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open {
  border-top: 4px solid #087f5b;
}

.open .number,
.open .title {
  color: #087f5b;
}
.content {
}

.content ul {
  color: #868e96;
  margin-left: 16px;
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}
.faq {
  display: flex;
  align-items: center;
  justify-content: center;
}
.unit-faq .open {
  display: flex;
  flex-direction: column;
}
